@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono&display=swap');

body {
    font-family: 'Red Hat Mono', monospace;
    background: #dfd5a5;
    font-size: 10px;
}

h1 {
    font-size: 2.5rem;
}
h3 {
    font-size: 1.5rem;
}

.ty-button{

    border-radius: 8px;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .ty-red {
      background-color: #EA4C89;
  }
  
  .ty-button.ty-red:hover,
  .ty-button-ty-red:focus {
    background-color: #F082AC;
  }
  
  .ty-green {
      background-color: #20832d;
  }
  
  .ty-button.ty-green:hover,
  .ty-button-ty-green:focus {
    background-color: #19aa2d;
  }